 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #CB8A26;
 }
 
 li.navbar {
     display: inline-block;
     margin-right: 20px;
 }
 
 li.navbar:hover {
     color: red;
     cursor: pointer;
 }
 
 h1.navbar {
     margin-left: 46%;
 }
 
 body {
     background-color: #ffe394;
 }
 
 form {
     border: 3px solid #f1f1f1;
     box-sizing: border-box;
 }
 
 input[type=text],
 input[type=password] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: block;
     border: 1px solid #ccc;
     box-sizing: border-box;
     align-items: center;
 }
 
 button {
     background-color: #04AA6D;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
 }
 
 button:hover {
     opacity: 0.8;
 }
 
 .imgcontainer {
     text-align: center;
     margin: 24px 0 12px 0;
 }
 
 img.avatar {
     width: 20%;
     border-radius: 50%;
 }
 
 .container {
     padding: 16px;
 }
 
 span.psw {
     float: right;
     padding-top: 16px;
 }
 /* Change styles for span and cancel button on extra small screens */
 
 @media screen and (max-width: 300px) {
     span.psw {
         display: block;
         float: none;
     }
     .cancelbtn {
         width: 100%;
     }
 }
 
 @media (max-width: 768px) {
     h1.navbar {
         margin-left: 38%;
     }
     li.navbar {
         display: flex;
         font-size: 10px;
     }
     .col_img {
         height: 70%;
         width: 70%;
         margin-left: 16%;
         box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.5), 0 0px 25px 0 rgba(0, 0, 0, 0.7);
     }
     .footer {
         display: flex;
         text-align: center;
         font-size: 10px;
         text-shadow: 2px 2px 5px white;
         background-color: #CB8A26;
         padding: 15px;
     }
 }