        * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #CB8A26;
    }
    
    li.navbar {
        display: inline-block;
        margin-right: 20px;
    }
    
    li.navbar:hover {
        color: red;
        cursor: pointer;
    }
    
    h1.navbar {
        margin-left: 46%;
    }
    
    body {
        background-color: #ffe394;
        ;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Add padding to containers */
    
    .container {
        padding: 16px;
        background-color: #ffe394;
    }
    /* Full-width input fields */
    
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    
    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    /* Overwrite default styles of hr */
    
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    /* Set a style for the submit button */
    
    .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    
    .registerbtn:hover {
        opacity: 1;
    }
    /* Add a blue text color to links */
    
    a {
        color: dodgerblue;
    }
    /* Set a grey background color and center the text of the "sign in" section */
    
    .signin {
        background-color: #ffe394;
        ;
        text-align: center;
    }
    
    @media (max-width: 768px) {
        h1.navbar {
            margin-left: 38%;
        }
        li.navbar {
            display: flex;
            font-size: 10px;
        }
        .col_img {
            height: 70%;
            width: 70%;
            margin-left: 16%;
            box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.5), 0 0px 25px 0 rgba(0, 0, 0, 0.7);
        }
        .footer {
            display: flex;
            text-align: center;
            font-size: 10px;
            text-shadow: 2px 2px 5px white;
            background-color: #CB8A26;
            padding: 15px;
        }